In [42]:
a='Hello world'
a[0]

'H'

In [28]:
a[::-1]

'olleH'

In [58]:
# Function
a.upper()
a.lower()
a.title()
a.capitalize()
a.replace('H','T')
a.replace('O','d')
a.split('l')
a.find('p')
a.count('Hello')
a.isupper()
a.islower()

False

In [112]:
# LIST, Tuple, set, Dict 
data=[3,2,3,1,2,77]
data[::-1]

[77, 2, 1, 3, 2, 3]

In [114]:
# Function
# data.append('a')
# print(data.remove(3))
# data.insert(2,'b')
# print(data.pop(5))
data.sort()
data.reverse()
data[0]=99
# data.clear()
data

[99, 3, 3, 2, 2, 1]

In [126]:
# Tuple 
data=(1,5,7,8,3,3)
# data[0]=99
# data.append(6)
len(data)
data=list(data)
data[0]=99
data=tuple(data)
data

(99, 5, 7, 8, 3, 3)

In [181]:
# set
data={1,99,6,4,53,2,'a'}
# data[0]=88
# data.add(77)
data.update({'HHHH','aklsdjklas','sad'})
# data.remove(99)
# data.discard(2)
data.pop()
# data

1

In [223]:
# Dict
data={
    200:'dsaknd',
    'name':'Harman',
    "age":99,
    'Phone':456789
}
# data['age']=66
# data.update({'address':'mohali'})
# print(data.pop('age'))
# print(data.popitem())
data.keys()
data.values()
data.items()
data.get('name')
data.clear()
data

{}

In [21]:
# Conditions
# Flow Control
a=int(input('Enter a Number '))
county=input('Enter a Country')
# if(a==0){ #scope
#     printf('a is zero')
# }

if a==0:
    if a==1:
        print('a is nor zero')
    print('a is zero')
elif a==1:
    print('a is one')
elif(a>10 and a<20):
                   print('a is between 10-20')
else:
     print('a is not zero')
     print('a is not zero')

Enter a Number 8
a is not zero
a is not zero

In [3]:
# q1 odd or even
# q2 check vowels in string take a string 
#
# Nested condition
# q3 take 3 values Country,Age,gender and give output as eligible for vote or not
#  conditions1 -> country india for male age 18+ for female age 18+
#  conditions2 -> country south africa male age 18+ for female age 21+
#  condition3 -> country North korea male age 18+ and female are not allowed

In [59]:
# Loops 
# for loop 
# data=[1,3,4]
# for(int i;i<=sizeOf(data);i++){
#     data[i]
#     printf('$s',3)
# }

#
##
###
####
####
###
##
#

#    *
#   ***
#  ******
# ********

# data=(1,3,5,8,9)
# for i in range(len(data)):
# #     f'asjdhgasjkhdg jkas {i}'
#     print(f'[{i}] => {data[i]}',end='')

# for i in range(5):
#     for j in range(i):
#         print(f' * ',end='')
#     print()

# for i in range(5,0,-1):
#     for j in range(i):
#         print(f'*',end='')
#     print()

# while 

# jumping statements 
# break
# pass
# continue
a=0
pass
b=2
# for i in range(0,10):
#     print(f'i-> {i}')
#     break
#     print(f"i+1 -> {i+1}")
data={'num':[1,3,4,2],'chars':('a','b','c','d')}
# print(data['num'])
for i,v in data:
    print(v)
    for j in v:
        print(j)
        
# Q1 take a string and detect the vowels and there occurrence
# Q2 data={'num':[1,3,4,2],'chars':('a','b','c','d')} print all element's 
# Q3 star pattern 
# Q4 access dict with while loop
# Q5 prime numbers, factorial , get prime numbers from 0-100

# while a<len(data):
#     print(data[a])
#     a+=1

ValueError: too many values to unpack (expected 2)

In [69]:
#functions
#pre defined -> print, len , type, range
#custom function ->
def helloworld(num):     #|  Function Defination  
    for i in range(num):
        print('Hello World')#|
print(helloworld(1))
print('Second Time')
helloworld(2)

Hello World
None
Second Time
Hello World
Hello World

In [78]:
def add(num2=1,num1=1):    
    return num1 +num2

print(add(2))
print(add(7,9))

3
16

In [88]:
def sumoflist(*nums):
    sums=0
    for i in nums:
        sums+=i
    return sums
    
print(sumoflist(1,2,4,5,6,778,8,8,8,8))

print(sumoflist(16,778,8,8,8,8,9,9,8989))

print(sumoflist(2,1))

828
9833
3

In [93]:
def PersonInfo(**info):
    for i in info:
        print(f'{i} -> {info[i]}')    
PersonInfo(fname='harman',lname='Dhillon',age=66)

fname -> harman
lname -> Dhillon
age -> 66

In [108]:
# Short Function 
# lambda function
x=lambda *num:num
print(x())
print(x(9,7,9))

()
(9, 7, 9)

In [5]:
# recursions function
def hello(n):
    if n<=1:
        return n
    else:
        return  hello(n-1) + hello(n-2)
for i in range(10):
    print(hello(i),end=' ')

0 1 1 2 3 5 8 13 21 34

In [1]:
# Class  OOPS
# Objects -> real life entity
class A:
    name='Class A'
    year=77
    def changeName(self,newName):
        self.name=newName
ob=A()
print(ob.name)
print(ob.year)
ob.changeName('New Class Name')
print(ob.name)

# CALCULATOR With help of class
# Calculate the price of travel
#   -Create Objects from Vehicle class
#   -Set Name, Brand,Type (eg- car , bike) petrol price, mileage or average
#   -Take Distance Value and show the Petrol expense if we travel that distance

Class A
77
New Class Name

In [27]:
class A:
    def __init__(self,name):
        self.name=name
        print(name)
    def __del__(self):
        del self.name

if __name__=='__main__':
    A('Random')

Random

In [ ]:
# inheritrance
# single
# multiple
# multilevel
# herirecal
# hybrid

In [26]:
class A:
    _name='Class A'
    def show(self):
        print(self.__name)
class B(A):
    nameB='Class B'
    def show(self):
        print(self.__name)
class C(B):

    pass
print(A()._name)
# B().show()
ob =C()
ob._name

Class A

'Class A'

In [ ]:
# exception Handling
# try
# except
# final
# else

In [39]:
try:
    print(a)
    print(1/0)
except ZeroDivisionError:
    print('ZeroDivisionError !!')
except:
    print('Other errors')

Other errors

In [42]:
num=int(input('Enter a Value'))
if num < 0:
    raise ValueError("Value is not valid it's Negative ")
else:
    print(num)

Enter a Value7
7